.gridBox {
  display: grid;
  margin: 10px;
  gap: 5px;
}

.iconButton {
  background-color: var(--fgcolor);
  border: 2px solid var(--bordercolor);
  border-radius: 8px;
  padding: var(--sidepadding) var(--upperpadding);
  cursor: pointer;
  font-size: 16px;
}

.divflexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.divflexbox img {
  height: 64px;
  width: 64px;
}

.noteBox {
  background-color: var(--fgcolor);
  border: 2px solid var(--bordercolor);
  padding: var(--sidepadding) var(--upperpadding);
  cursor: pointer;
  font-size: 16px;
  text-align: left;
}

.subjectPage {
  padding: var(--sidepadding) var(--upperpadding);
}

.themeToggle {
  padding: var(--sidepadding) var(--upperpadding);
  margin-bottom: 0px;
}

.themeToggle img {
  width: 32px;
  height: 32px;
}

.backButton {
  cursor: pointer;
  font-size: 16px;
  background-color: var(--fgcolor);
  border: 2px solid var(--bordercolor);
  border-radius: 8px;
  padding: var(--sidepadding) var(--upperpadding);
  margin-top: 10px;
}

.showContentButton {
  cursor: pointer;
  font-size: 12px;
  background-color: var(--fgcolor);
  border: 2px solid var(--bordercolor);
  border-radius: 8px;
  padding: var(--sidepadding) var(--upperpadding);
}

div .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

div .description {
  font-size: 16px;
  margin-bottom: 10px;
}